@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}


body{
				background: rgb(238, 191, 153);
				font-family: Poppins;
}


.box-heart{
 	 			position: absolute;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap:1em;
				top: 2px;
}

.pic-heart{
  height: 300px;
  position: relative;
	width: 350px;
	left: 35px;
}

.pic-please{
  position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-sad{
  position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 5px;
}

.pic-flowers{
  position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-good{
	position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-burn{
	position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-joke{
	position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-withu{
	position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-sayyes{
	position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-love{
	position: absolute;	
  opacity: 0;
	height: 300px;
	width: 350px;
	left: 35px;
}

.pic-arrow{
	display: inline-block;
	position: absolute;
	right: 200px;
	width: 150px;
	height: 120px;
	opacity: 0;
}

.button{
  display: flex	;
  justify-content:center;
  align-items: center;
  gap: 3em;	
  position: relative;			

}


#button1{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px ;
  padding-bottom:5px ;
  font-weight: bold;
  font-family: Poppins;
  border: 2px solid green;
	font-size: 20px;
}

#button1:hover{
  background: rgb(131, 63, 158);
  border: 2px solid black;
}

#button2:hover{
  background:  rgb(131, 63, 158);
  border: 2px solid black;
}

#button2{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px ;
  padding-bottom:5px ;
  font-weight: bold;
  font-family: Poppins;
  border: 2px solid red;
	font-size: 20px;
}

.bg1{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
}

.group1{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr ;
				gap:2em;
				margin-left: 1em;
				margin-right: 1em;
				z-index: 55;
				margin-top: 2em;
				opacity:1;
}

.group1 button{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
	      z-index: 4444;
	      border: 2px solid red;
				font-size: 20px;
}
.group1 button:hover{
				background: rgb(131, 63, 158);
				border: 2px solid black;
}

.ask{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 5px;
			  z-index: 5555555;
				padding-top: 1em;
				padding-bottom: 1em;
				text-align: center;
				margin-top: 1em;
			  position: relative;
				top: 100px;																
}

.p-love{
  border:2px solid black;
  border-radius: 10px;
  margin:10px;
	font-size: 25px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*BUTTONS OPACITY*/

#bt1{
  opacity: 0;
}
#bt2{
	opacity: 0;
}
#bt3{
	opacity: 0;
}
#bt4{
	opacity: 0;
}
#bt5{
opacity: 0;
}
#bt6{
	opacity: 0;
}
#bt7{
	opacity: 0;
}
#bt8{
	opacity: 0;
}
#bt9{
	opacity: 0;
}
#bt10{
	opacity: 0;
}
#bt11{
	opacity: 0;
}
#bt12{
	opacity: 0;
}

       /*BUTTONS2 OPACITY*/
#bbt1{
	opacity: 0;
}
#bbt2{
	opacity: 0;
}
#bbt3{
	opacity: 0;
}
#bbt4{
	opacity: 0;
}
#bbt5{
	opacity: 0;
}
#bbt6{
	opacity: 0;
}
#bbt7{
	opacity: 0;
}
#bbt8{
	opacity: 0;
}
#bbt9{
	opacity: 0;
}
#bbt10{
	opacity: 0;
}
#bbt11{
	opacity: 0;
}
#bbt12{
	opacity: 0;
}

